@model RAFE.Models.NominationModel

<style>
    .comments, .ratings, .shortlist {
        background-color: #9A792C;
        border-color: #9A792C;
        color: white;
    }
</style>

<table class="table table-bordered table-responsive" id="tblAwards">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>Nomination ID</th>
            <th>Award Year</th>
            <th>Award Category</th>
            <th style="width: 80px !important;">Award Type</th>
            <th>Function</th>
            <th style="width: 120px !important;">Nominated By</th>
            <th>Nominee</th>
            <th>Status</th>
           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Nominationlist.Count > 0)
        {
            foreach (var item in Model.Nominationlist)
            {
                <tr>
                    <td>
                        @item.SrNo
                    </td>
                    <td>
                        <a style='margin:5px;' href="@Url.Action("NominationForm", "home", new { id = @item.NominationID })">
                            <text>
                                @item.NominationID
                            </text>
                        </a>
                    </td>
                    <td>@item.AwardYear</td>
                    <td>@item.AwardCategory</td>
                    <td>@item.AwardType</td>
                    <td>@item.FunctionName</td>
                    <td>@item.Nominator</td>
                    <td>@item.Nomenees</td>
                    <td>
                        @Html.Raw(RAFE.Utility.WebCommon.GetSubmitStatus(item.isSubmitted, item.CurrentStatus))
                    </td>
                    
                    <td>
                        <input style='margin:5px;' type="button" class="shortlist btn" value=". . ." data-id="@item.NominationID" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center modal-title" id="nomDtl">Nomination Detail</h3>
                <h3 class="text-center modal-title" id="askFdb">Send a mail for feedback</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="partialModal1" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center modal-title">Comments</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="partialModal2" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center modal-title">Ratings</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.shortlist').click(function () {
        $("#nomDtl").show();
        $("#askFdb").hide();
        //alert($(this).data('id'));
                $.ajax({
                    url: "@Url.Action("BUCommitteeDetails","Home")",
                    type: "Post",
                    data: { nominationId: $(this).data('id') },
                    success: function (response) {
                         $("#partialModal").find(".modal-body").html(response);
                         $("#partialModal").modal('show');

                    },
                    error: function () {

                    }
                });

    });
   
   
    $('.close_btn').click(function () {
        window.location.reload();
    });
   
</script>

