@model RAFE.Models.JuryFeedback

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
        <style type="text/css">
            .ui-front {
                z-index: 9999999 !important;
            }
            .formfield {
                display: flex;
                align-items: center;
            }
            button#btnSave, button#Approved, button#btnAddEmp, button#btnApproved, button#btnReject {
                background-color: #d8b751;
                border-color: #d8b751;
            }
            button#btnSubmitt, button#btnRemoveEmp, button#btnNMI {
                background-color: #9A792C;
                border-color: #9A792C;
            }
            .voice {
                height: auto;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="form-group">
                <label id="toAskFb">To:</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.TextBoxFor(m => m.ReceiverEmailId, new {@id = "toAsk", @placeholder = "Enter Email Id or Name", @rows = "1", @cols = "40", size = "40" })
            </div>
            <div class="formfield" id="input-single">
                <label id="askQuestion">Question :</label>
                @Html.TextAreaFor(m => m.AskFeedback, new { @id = "question", @placeholder = "Feeback Question", @rows = "5", @cols = "60" })
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@*<button id="start-record-btn" type="button" class="voice" title="Start Recording">Start Voice Command</button>
                <button id="pause-record-btn" type="button" class="voice" title="Pause Recording">Stop Voice Command</button>
                <p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p>*@
            <br />
            <br />
            <input type="hidden" name="NominationId" value="@Model.NominationId" />
            @*<button type="button" title="Shortlisted" id="Approved" class="btn btn-success approval-selection" data-type="@Convert.ToInt32(RAFE.Models.NominationStage.Shortlisted)">Shortlisted</button>
                <button type="button" title="Need More Information" id="btnNMI" class="btn btn-info approval-selection" data-type="@Convert.ToInt32(RAFE.Models.NominationStage.NeedMoreInfo)">Need More Information</button>*@
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" title="Send a Mail" id="btnSendMail" name="Send" value="Send" class="btn btn-success approval-selection">Send</button>
            <br />
            <div>
            </div>
        </div>

    </body>  
    <script type="text/javascript">
            $('.loading').hide();
            //$('#btnSendMail').click(function () {
        $('#btnSendMail').click(function (event) {
            var txtVal = $("#toAsk").val();
            swal($("#toAsk").val());
            if ($('#toAsk').val() == "") {
                swal('!Please Enter The Valid Email');
            } else {
                $.ajax({
                    url: "@Url.Action("FDBAsk", "Home")",
                    type: "Post",
                    data: { ReceiverEmailId: txtVal, Askfeedback: $("#question").val() },
                    success: function (response) {
                        alert("Mail Send Successfully");
                        window.location.href = "http://localhost:65337/Home/JuryCommittee";
                    },
                    error: function (xrh) {
                        Alart('!Please Enter The Valid ');
                    }
                });
            }
        });
        $('#toAsk').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("AutoCompleteList", "Common")',
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term, MasterName: 'User' },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.EmployeeName, value: item.EmployeeID, id: item.EmployeeID }
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                })
            },
            minLength: 3
        });
    </script>
</html>


